<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>GEM2 Toolbar</Name><AddInID>{0ca0a1e7-c1ed-4fd1-bfee-7dd7d9b12052}</AddInID><Description>Contains tools developed to aid in the visual interpretation of the GEM2 output</Description><Version>0.1</Version><Image /><Author>Philippe Muise</Author><Company>Untitled</Company><Date>11/10/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="GEM2Toolbar_addin.py" namespace="GEM2Toolbar_addin"><ArcMap>
    <Commands>
        <Tool caption="Set as Look-a-Like" category="GEM2 Toolbar" class="SetLookALike" id="GEM2Toolbar_addin.tool1" image="Images\view.png" message="Set as Look-a-Like" tip="Set as Look-a-Like"><Help heading="Set as Look-a-Like">Draw a shape around the feature to be set as look-a-like</Help></Tool>
        <Tool caption="Set as Dark Feature" category="GEM2 Toolbar" class="SetDarkFeature" id="GEM2Toolbar_addin.tool2" image="Images\23912.png" message="Set as Dark Feature" tip="Set as Dark Feature"><Help heading="Set as Dark Feature">Draw shape around feature to be reset as a dark feture</Help></Tool>
        <Tool caption="Open Dark Feature Radarsat 2 Image" category="GEM2 Toolbar" class="OpenRadarsat" id="GEM2Toolbar_addin.tool3" image="Images\5006-512.png" message="Open Dark Feature Radarsat 2 Image" tip="Open Dark Feature Radarsat 2 Image"><Help heading="Open Dark Feature Radarsat 2 Image">Draw shape around features to open associated Radarsat 2 image</Help></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="GEM2 Toolbar" category="GEM2 Toolbar" id="GEM2Toolbar_addin.toolbar" showInitially="true"><Items><Tool refID="GEM2Toolbar_addin.tool1" /><Tool refID="GEM2Toolbar_addin.tool2" /><Tool refID="GEM2Toolbar_addin.tool3" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>